/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 0;
  font-size: 17px;
  width: 33.3333333333333333333333333%;
  text-decoration: none;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 2;
}

.tablink:nth-of-type(3) {
  right: 0;
}

.tablink:nth-of-type(2) {
  right: 33.3333333333333333333333333%;
}

.tablink:nth-of-type(1) {
  right: 66.6666666666666666666666666%;
}

.tablink.active {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6px) !important;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}
